@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <style>
        #sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100%;
            background-color: #333;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

            #sidebar ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
            }

                #sidebar ul li {
                    padding: 10px;
                    color: #fff;
                }

                    #sidebar ul li a {
                        display: block;
                        width: 100%;
                        text-align: left;
                        padding-left: 15px;
                        color: #fff;
                        text-decoration: none;
                    }

        #user-info {
            text-align: left;
            padding-left: 15px;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <div id="sidebar">
        <div id="user-info">
            <h4>@HttpContextAccessor.HttpContext?.Session.GetString("User")</h4>
        </div>
        <ul>
            <li><a href="/Resume">이력서</a></li>
            <li><a href="/Calendar">캘린더</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>
