<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>나의 이력</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/resume.css">
</head>
<body>
	<div class="content">
		<div class="resume-section">
			<h2 class="toggle-section" style="cursor: pointer;">개인정보</h2>
			<div id="personal" class="section-content">
				<div class="project-row">
					<div class="project-card">
						<h4>신상 정보</h4>
						<p>이름: 임주영</p>
						<p>연락처: +82 10-2674-8839</p>
						<p>이메일: juyeonglim@naver.com</p>
						<p>학력: 한밭대학교 신소재공학과 학사(2021.02 졸업)</p>
						<p>기술</p>
						<ul>
							<li>C# .NET Framework</li>
							<li>ASP.NET MVC</li>
							<li>HTML, CSS, JavaScript(jQuery)</li>
							<li>SQL 및 데이터베이스 관리</li>
						</ul>
					</div>

					<div class="project-card">
						<h4>경력</h4>
						<h5>회사명: SK 머티리얼즈</h5>
						<p>직위: PL(계약직 인턴)</p>
						<p>근무 기간: 2022년 8월 ~ 2023년 5월</p>
						<p>담당 업무: DT과제 기획 및 개발</p>
						<h5>회사명: SIIS</h5>
						<p>직위: 사원(정규직)</p>
						<p>근무 기간: 2021년 8월 ~ 2022년 5월</p>
						<p>담당 업무: 위성영상 품질관리, 업무 자동화 프로그램 개발</p>
					</div>
				</div>
			</div>
		</div>

		<div class="resume-section">
			<h2 class="toggle-section" style="cursor: pointer;">Programming Language</h2>
			<div id="language" class="section-content">
				<div class="skills-container">
					<div class="skill">
						<div class="skill-name">C#</div>
						<div class="skill-bar"><div class="skill-percentage" style="width: 70%;"></div></div>
					</div>

					<div class="skill">
						<div class="skill-name">Java</div>
						<div class="skill-bar"><div class="skill-percentage" style="width: 40%;"></div></div>
					</div>

					<div class="skill">
						<div class="skill-name">MS-SQL</div>
						<div class="skill-bar"><div class="skill-percentage" style="width: 50%;"></div></div>
					</div>

					<div class="skill">
						<div class="skill-name">HTML, CSS, JavaScript</div>
						<div class="skill-bar"><div class="skill-percentage" style="width: 50%;"></div></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="resume-section">
			<h2 class="toggle-section" style="cursor: pointer;">프로젝트 경험</h2>
			<div id="project" class="section-content">
				<div class="project-row">
					<div class="project-card">
						<h4>Toy - Web Application</h4>
						<p>목적: Web Application 기술 정리 및 복습, ORM 사용법 학습</p>
						<p>IDE: Visual Studio, SQL Server Management Studio</p>
						<p>기술 스택: ASP .NET Core MVC, MS-SQL, HTML, CSS, JavaScript(jQuery)</p>
						<p>담당업무/상세설명</p>
						<ul>
							<li>로그인, 이력서, 캘린더 페이지 개발</li>
							<li>회원가입 시 비밀번호 암호화 BCrypt(Blowfish 암호화) 사용</li>
							<li>Entity Framework ORM 사용</li>
						</ul>
					</div>

					<div class="project-card">
						<h4>RDW (R&D Data Warehouse)</h4>
						<p>목적: 데이터 전산화 및 업무 효율성 향상</p>
						<p>IDE: Visual Studio, SQL Server Management Studio</p>
						<p>기술 스택: ASP .NET Core MVC, MS-SQL, HTML, CSS, JavaScript(jQuery)</p>
						<p>담당업무/상세설명</p>
						<ul>
							<li>연구과제 데이터 전산화</li>
							<li>과제의뢰, 전자결재, 최종 결과 보고 페이지 개발</li>
							<li>전자결재 및 단계별 메일링 서비스 개발</li>
							<li>데이터베이스 테이블 설계</li>
							<li>ADO .NET Data Provider 사용</li>
							<li>Task기반 Thread pool 비동기 작업 수행</li>
						</ul>
					</div>
				</div>

				<div class="project-row">
					<div class="project-card">
						<h4>MDW (Manufacture Data Warehouse)</h4>
						<p>목적: 데이터 전산화 및 업무 효율성 향상</p>
						<p>IDE: Visual Studio, SQL Server Management Studio</p>
						<p>기술 스택: ASP .NET Core MVC, MS-SQL, HTML, CSS, JavaScript(jQuery)</p>
						<p>담당업무/상세설명</p>
						<ul>
							<li>생산 DB -> 개발 DB : DB To DB Interface 개발</li>
							<li>SPC 통계적 공정관리를 위한 OQC 알고리즘 개발</li>
							<li>이상 데이터 발생 시 메일링 서비스 개발</li>
							<li>데이터베이스 테이블 설계</li>
							<li>ADO .NET Data Provider 사용</li>
							<li>Task기반 Thread pool 비동기 작업 수행</li>
						</ul>
					</div>

					<div class="project-card">
						<h4>RPA Portal</h4>
						<p>목적: 데이터 전산화 및 업무 효율성 향상</p>
						<p>IDE: Visual Studio, SQL Server Management Studio</p>
						<p>기술 스택: ASP .NET Core MVC, MS-SQL, HTML, CSS, JavaScript(jQuery)</p>
						<p>담당업무/상세설명</p>
						<ul>
							<li>RPA 과제 관리를 위한 Web Application 개발</li>
							<li>RPA 의뢰, 전자결재, 최종 결과 보고 페이지 개발</li>
							<li>전자결재 및 단계별 메일링 서비스 개발</li>
							<li>데이터베이스 테이블 설계</li>
							<li>ADO .NET Data Provider 사용</li>
							<li>Task기반 Thread pool 비동기 작업 수행</li>
						</ul>
					</div>
				</div>

				<div class="project-row">
					<div class="project-card">
						<h4>Security Controller</h4>
						<p>목적: 업무 자동화 및 보안 문제 해결</p>
						<p>IDE: Visual Studio, SQL Server Management Studio</p>
						<p>기술 스택: .NET Framework Winforms, MS-SQL</p>
						<p>담당업무/상세설명</p>
						<ul>
							<li>.Net Framework Winforms를 활용한 GUI 개발</li>
							<li>데이터베이스 테이블 설계</li>
							<li>ADO .NET Data Provider 사용</li>
							<li>쓰레드 생성/해제 비동기 작업 수행</li>
						</ul>
					</div>
					<div class="project-card">
						<h4>...</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
	$(document).ready(function () {
		$('.toggle-section').click(function () {
			$(this).next('.section-content').slideToggle('slow');
		});
	});
</script>